<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/jquery-3.4.1.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">药品采购平台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">监督管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">药品目录管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;">药品品目维护</a></dd>
                                <dd><a href="javascript:;">药品信息维护</a></dd>
                            </dl>
                        </dd>
                        <dd><a href="javascript:;">采购单审核</a></dd>
                        <dd><a href="javascript:;">供货管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="supplyAudit.html">供货审核</a></dd>
                            </dl>
                        </dd>
                        <dd><a href="javascript:;">交易查询统计</a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;">按采购单查询</a></dd>
                                <dd><a href="javascript:;">按供货商查询</a></dd>
                                <dd><a href="javascript:;">按采购医院查询</a></dd>
                                <dd><a href="javascript:;">按交易药品查询</a></dd>
                                <dd><a href="javascript:;">查询药品交易明细</a></dd>
                            </dl>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">采购管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">药品目录查询</a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;">药品品目查询</a></dd>
                                <dd><a href="javascript:;">药品信息查询</a></dd>
                            </dl>
                        </dd>
                        <dd><a href="javascript:;">采购目录管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;">采购药品选择</a></dd>
                                <dd><a href="javascript:;">采购目录维护</a></dd>
                            </dl>
                        </dd>
                        <dd><a href="javascript:;">采购管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;">采购单维护</a></dd>
                                <dd><a href="javascript:;">采购入库</a></dd>
                            </dl>
                        </dd>
                        <dd><a href="javascript:;">退货管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="returnOrder.html">退货单维护</a></dd>
                            </dl>
                        </dd>
                        <dd><a href="javascript:;">结算管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;">结算单维护</a></dd>
                            </dl>
                        </dd>
                        <dd><a href="javascript:;">交易查询统计</a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;">按采购单查询</a></dd>
                                <dd><a href="javascript:;">按供货商查询</a></dd>
                                <dd><a href="javascript:;">按采购医院查询</a></dd>
                                <dd><a href="javascript:;">按交易药品查询</a></dd>
                                <dd><a href="javascript:;">查询药品交易明细</a></dd>
                            </dl>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">供货管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">药品目录查询</a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;">药品品目查询</a></dd>
                                <dd><a href="javascript:;">药品信息查询</a></dd>
                            </dl>
                        </dd>
                        <dd><a href="javascript:;">商品管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;">商品信息维护</a></dd>
                            </dl>
                        </dd>
                        <dd><a href="javascript:;">采购单处理</a>
                        </dd>
                        <dd><a href="returnOrderDealWith.html">退货单处理</a>
                        </dd>
                        <dd><a href="javascript:;">结算单处理</a>
                        </dd>
                        <dd><a href="javascript:;">交易查询统计</a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;">按采购单查询</a></dd>
                                <dd><a href="javascript:;">按供货商查询</a></dd>
                                <dd><a href="javascript:;">按采购医院查询</a></dd>
                                <dd><a href="javascript:;">按交易药品查询</a></dd>
                                <dd><a href="javascript:;">查询药品交易明细</a></dd>
                            </dl>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
       <iframe id="iframeMain" src="" width="100%" height="100%"></iframe>
    </div>


</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("li>a").click(function (e) {
            e.preventDefault();
            $("#iframeMain").attr("src",$(this).attr("href"));
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("dd>a").click(function (e) {
            e.preventDefault();
            $("#iframeMain").attr("src",$(this).attr("href"));
        });
    });
</script>
<script src="../layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>