<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <!--采购管理  查询药品交易明细-->
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <form class="layui-form" action="">
            <table class="layui-table" lay-size="sm">
                <thead>
                <tr class="layui-row">
                    <td><h2 align="center" style="font-weight: bold;">查询药品交易明细</h2></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">采购单编号：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="purchaseOrderNumber"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">采购单名称：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="nameOfPurchaseOrder"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">采购医院：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="nameOfHospital"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">采购状态：</label>
                            <div class="layui-input-inline">
                                <select name="purchasingStatus" lay-search="">
                                    <option value="">全部</option>
                                    <option value="1">确认未送货</option>
                                    <option value="2">已发货</option>
                                    <option value="3">已入库</option>
                                    <option value="3">无法供货</option>
                                    <option value="3">到期未供货</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">供货商：</label>
                            <div class="layui-input-inline">
                                <select name="nameOfEnterprise"  lay-search="">
                                    <option value="">全部</option>
                                    <<!--option value="1">layer</option>
                                    <option value="2">form</option>
                                    <option value="3">layim</option>-->
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">统计时间：</label>
                            <div class="layui-input">
                                <input  style="width: 20%;margin-top:3%" type="text" name="startTime"  autocomplete="off" class="layui-input-inline" id="time01" placeholder="yyyy-MM-dd HH:mm:ss">
                                <span>至</span>
                                <input  style="width: 20%;margin-top:3%" type="text" name="endTime"  autocomplete="off" class="layui-input-inline" id="time02" placeholder="yyyy-MM-dd HH:mm:ss">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">药品流水号：</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="serialUmber"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">通用名：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="dosageForm" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">剂型：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="dosageFormDrug"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">规格：</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="specifications"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">单位：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="company"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">转换系数：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="conversionCoefficientNo"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">生产企业：</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="nameOfManufacturer"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">商品名：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="tradeName"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">质量层次：</label>
                            <div class="layui-input-inline">
                                <select name="qualityLevel"  lay-search="">
                                    <option value="">请选择</option>
                                    <option value="国家一类新药">国家一类新药</option>
                                    <option value="国家科学进步奖">国家科学进步奖</option>
                                    <option value="专利">专利</option>
                                    <option value="原研">原研</option>
                                    <option value="单独定价">单独定价</option>
                                    <option value="优质优价">优质优价</option>
                                    <option value="GMP">GMP</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <button type="button" id="conditionSubmit" class="layui-btn layui-btn-sm"
                                lay-filter="conditionSubmit" lay-submit>查询
                        </button>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">药品类别：</label>
                            <div class="layui-input-inline">
                                <select name="drugCategory" id="drugCategorys" lay-search="">
                                    <option value="">全部</option>
                                    <!--<option value="1">layer</option>
                                    <option value="2">form</option>
                                    <option value="3">layim</option>-->
                                </select>
                            </div>
                        </div>
                    </td>
                </tbody>
            </table>
        </form>
    </div>
</div>
<div class="layui-container">
    <div class="layui-row">
        <form class="layui-form" action="">
            <table class="layui-hide" lay-size="sm" id="demo" lay-filter="test">
            </table>
        </form>
    </div>
</div>

<script src="../static/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate','table','laypage','element'], function(){
        var form = layui.form;
        var table = layui.table;//表格
        var laypage = layui.laypage;//分页
        var element = layui.element;
        var laydate=layui.laydate;
        $ = layui.$;
        $.ajax({
            type: 'post',
            url: '/drug/drugCategory/',
            data: null,
            dataType: 'json',
            success: function (data) {
                var datas = "";
                for (var i = 0; i < data.length; i++) {
                    datas += "<option value='" + data[i] + "'>" + data[i] + "</option>";
                }
                $('#drugCategorys').append(datas);
                form.render('select');

            }
        })

        var tableIns=table.render({
            elem: '#demo'
            ,url:'/hospitalTransationDetailsOrder/hospitalTransationDetailsOrderFindAll/'
            ,method: 'post'
            ,toolbar: 'true'
            ,totalRow: true
            ,cols: [[
                {fixed: 'left',totalRowText: '合计：',field:'nameOfHospital', title: '采购医院', width:90,templet: '<div>{{d.hospitalInformationMaintenanceForm.nameOfHospital}}</div>'}
                ,{field:'purchaseOrderNumber', title: '采购单编号', width:90,templet: '<div>{{d.purchaseOrderDetails.purchaseOrderNumber}}</div>'}
                ,{field:'nameOfPurchaseOrder', title: '采购单名称', width:90,templet: '<div>{{d.purchaseOrderDetails.nameOfPurchaseOrder}}</div>'}
                ,{field:'serialUmber', title: '流水号', width:90,templet: '<div>{{d.drug.serialUmber}}</div>'}
                ,{field:'dosageForm', title: '通用名', width:80,templet: '<div>{{d.drug.dosageForm}}</div>'}
                ,{field:'dosageFormDrug',title: '剂型', width: 90,templet: '<div>{{d.drug.dosageFormDrug}}</div>'}
                ,{field:'specifications',title: '规格', width:150,templet: '<div>{{d.drug.specifications}}</div>'}
                ,{field:'company',title: '单位', width: 80,templet: '<div>{{d.drug.company}}</div>'}
                ,{field:'conversionCoefficientNo', title: '转换系数',width:100,templet: '<div>{{d.drug.conversionCoefficientNo}}</div>'}
                ,{field:'nameOfManufacturer', title: '生产企业', width:100,templet: '<div>{{d.drug.nameOfManufacturer}}</div>'}
                ,{field:'tradeName', title: '商品名称', width: 100,templet: '<div>{{d.drug.tradeName}}</div>'}
                ,{field: 'bidPrice', title: '中标价', width: 90,templet: '<div>{{d.drug.bidPrice}}</div>'}
                ,{field: 'transactionPrice', title: '交易价', width: 90}
                ,{field: 'purchaseVolume', title: '采购量', totalRow: true,width: 90}
                ,{field: 'purchaseAmount', title: '采购金额',totalRow: true, width: 90}
                ,{field: 'storageVolume', title: '入库量', totalRow: true,width: 90}
                ,{field: 'warehousingAmount', title: '入库金额',totalRow: true}
                ,{field: 'returnOrderNumber', title: '退货量',totalRow: true, width: 90}
                ,{field: 'returnGoods', title: '退货金额', width: 90,totalRow: true}
                ,{field: 'settlementVolume', title: '结算量', width: 90,totalRow: true}
                ,{field: 'settlementAmount', title: '结算金额', width: 90,totalRow: true}
                ,{fixed: 'right',field:'purchasingStatus', title: '采购状态',width: 90,templet: function(d){if(d.purchasingStatus == 1) return "未确认送货";else if(d.purchasingStatus == 2) return "已发货";else if(d.purchasingStatus == 3) return "已入库";else if(d.purchasingStatus == 4) return "无法供货";else if(d.purchasingStatus == 5) return "到期未供货";}}
            ]]
            ,page: true
            ,limit: 5
            ,limits: [5,10,15]
        });

        //条件查询
        form.on('submit(conditionSubmit)', function (data) {
            tableIns.reload({
                url: '/hospitalTransationDetailsOrder/hospitalTransationDetailsOrderFindAll/'
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    purchaseOrderNumber: data.field.purchaseOrderNumber
                    ,nameOfPurchaseOrder: data.field.nameOfPurchaseOrder
                    ,nameOfHospital: data.field.nameOfHospital
                    ,purchasingStatus: data.field.purchasingStatus
                    ,nameOfEnterprise: data.field.nameOfEnterprise
                    ,startTime: data.field.startTime
                    ,endTime: data.field.endTime
                    ,serialUmber: data.field.serialUmber
                    , dosageForm: data.field.dosageForm
                    , dosageFormDrug: data.field.dosageFormDrug
                    , specifications: data.field.specifications
                    , company: data.field.company
                    , conversionCoefficientNo: data.field.conversionCoefficientNo
                    , nameOfManufacturer: data.field.nameOfManufacturer
                    , tradeName: data.field.tradeName
                    , qualityLevel: data.field.qualityLevel
                    , drugCategory: data.field.drugCategory
                }
            });
        })


        //日期
        laydate.render({
            elem: '#time01'
        });
        laydate.render({
            elem: '#time02'
        });


    });
</script>
</body>
</html>