<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <script src="../static/layui/jquery-3.4.1.min.js"></script>
    <script src="../static/layui/layui.js" charset="utf-8"></script>

</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <form class="layui-form" action="">
            <table class="layui-table" lay-size="sm">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>退货单查询</legend>
                </fieldset>
                <tbody>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">退货单编号：</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="returnOrderNo" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">退货单名称：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="returnOrderName" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">退货状态：</label>
                            <div class="layui-input-inline">
                                <select name="returnOrderStatus" lay-verify="" lay-search="">
                                    <option value="">全部</option>
                                    <option value="1">未提交</option>
                                    <option value="2">已提交</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">采购医院：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="hospitalId" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div align="center">
                <button  type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="findByCondition">查询</button>
            </div>

        </form>
    </div>
</div>
<div class="layui-row">
    <form class="layui-form" action="">
        <table class="layui-hide" lay-size="sm" id="main" lay-filter="main">
            <button type="button" class="layui-btn layui-btn-sm" id="create">添加</button>
            <button type="button" class="layui-btn layui-btn-sm" lay-submit lay-filter="deleteReturnOrder">删除</button>
        </table>
    </form>
</div>
<!--创建退货单-->
<div class="layui-row" id="createReturnOrder" style="display: none">
    <div class="layui-col-md11" style="text-align: center">
        <form class="layui-form" lay-filter="formTestFilter2121" action="" style="margin-top: 50px">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <!--应该是根据查询当前登录人所在医院的编号   没做-->
                    <label class="layui-form-label">医院编号：</label>
                    <div class="layui-input-inline">
                        <input type="tel" name="hospitalId" lay-verify="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <!--应该是根据查询当前登录人所在医院的名称   没做-->
                    <label class="layui-form-label">医院名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="" lay-verify="" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">退货单编号：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="returnOrderNo" lay-verify="" readonly autocomplete="off" class="layui-input" placeholder="系统自动生成">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">退货单名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="returnOrderName" lay-verify="" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">建单时间：</label>
                    <div class="layui-input-inline" >
                        <input type="text"  name="orderCreationTime" lay-verify="" autocomplete="off"  readonly class="layui-input" id="returnTime">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">提交时间：</label>
                    <div class="layui-input-inline">
                        <input type="button" name="submissionTime" lay-verify="" readonly autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">联系人：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="contacts" lay-verify="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">联系电话：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="contactNumber" lay-verify="required|phone" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">退货单状态：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="returnOrderStatus" readonly lay-verify="" autocomplete="off" class="layui-input" >
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">备注：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="remarks" lay-verify="" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div align="center">
                <button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-setval"  lay-submit lay-filter="saveReturnOrder">保存退货单</button>
            </div>
        </form>
    </div>
</div>
<!--退货单详情-->
<div class="layui-container"  style="display: none" id="returnOrderDetail">
    <div class="layui-row">
        <form class="layui-form" action=""  lay-filter="returnOrderForm">
            <table class="layui-table" lay-size="sm">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>退货单</legend>
                </fieldset>
                <tbody>
                <tr>
                    <td style="display: none">
                        <div class="layui-inline">
                            <label class="layui-form-label">id：</label>
                            <div class="layui-input-inline">
                                <input type="tel" id="returnOrderId" name="returnOrderId" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">医院编号：</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="hospitalId" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">医院名称：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">退货单编号：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="returnOrderNo" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">退货单名称：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="returnOrderName" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">建单时间：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="orderCreationTime" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">联系人：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="contacts" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">联系电话：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="contactNumber" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">退货单状态：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="returnOrderStatus" readonly lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">提交时间：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="submissionTime" readonly lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">备注：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="remarks" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div align="center" id="settlement">
                <button  type="button" class="layui-btn layui-btn-normal" >保存退货单</button>
                <button  type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="submitReturnOrder">提交退货单</button>
            </div>

        </form>
       <!-- <form class="layui-form" action="">
            <table class="layui-table" lay-size="sm">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>退货药品查询</legend>
                </fieldset>
                <tbody>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">采购单编号：</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">采购单名称：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">退货状态：</label>
                            <div class="layui-input-inline">
                                <select name="modules" lay-verify="" lay-search="">
                                    <option value="">全部</option>
                                    <option value="1">layer</option>
                                    <option value="2">form</option>
                                    <option value="3">layim</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">采购医院：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">开始采购时间：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">结束采购时间：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">药品流水号：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">通用名：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">剂型：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">规格：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">单位：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">转换系数：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">生产企业：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">商品名：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">质量层次：</label>
                            <div class="layui-input-inline">
                                <select name="modules" lay-verify="" lay-search="">
                                    <option value="">全部</option>
                                    <option value="1">layer</option>
                                    <option value="2">form</option>
                                    <option value="3">layim</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">药品类别：</label>
                            <div class="layui-input-inline">
                                <select name="modules" lay-verify="" lay-search="">
                                    <option value="">全部</option>
                                    <option value="1">layer</option>
                                    <option value="2">form</option>
                                    <option value="3">layim</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">入库时间：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">药品批号：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">发票号或入库单号：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">供货商：</label>
                            <div class="layui-input-inline">
                                <select name="modules" lay-verify="" lay-search="">
                                    <option value="">全部</option>
                                    <option value="1">layer</option>
                                    <option value="2">form</option>
                                    <option value="3">layim</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div align="center">
                <button  type="button" class="layui-btn layui-btn-normal"  lay-submit lay-filter="findReturnOrder">查询</button>
            </div>

        </form>-->
    </div>
    <table class="layui-table" lay-size="sm" id="medicineTable" lay-filter="medicineTable">
        <button class="layui-btn layui-btn-sm" lay-submit lay-filter="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-submit lay-filter="delete">删除</button>
        <button class="layui-btn layui-btn-sm" lay-submit lay-filter="save">保存退货量</button>
    </table>
</div>
<!--添加药品-->
<div class="layui-container" id="addReturnMedicine" style="display: none">
    <div class="layui-row">
        <form class="layui-form" action="" id="findAddMedicine" lay-filter="findAddMedicine">
            <table class="layui-table" lay-size="sm">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>退货药品查询</legend>
                </fieldset>
                <tbody>
                <tr>
                    <td style="display: none">
                        <div class="layui-inline">
                            <label class="layui-form-label">id：</label>
                            <div class="layui-input-inline">
                                <input type="tel" id="returnOrderId1" name="returnOrderId" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">采购单编号：</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">采购单名称：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">采购状态：</label>
                            <div class="layui-input-inline">
                                <select name="modules" lay-verify="required" lay-search="">
                                    <option value="">全部</option>
                                    <option value="1">layer</option>
                                    <option value="2">form</option>
                                    <option value="3">layim</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">采购医院：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">开始采购时间：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">结束采购时间：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">药品流水号：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">通用名：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">剂型：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">规格：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">单位：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">转换系数：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">生产企业：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">商品名：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">质量层次：</label>
                            <div class="layui-input-inline">
                                <select name="modules" lay-verify="required" lay-search="">
                                    <option value="">全部</option>
                                    <option value="1">layer</option>
                                    <option value="2">form</option>
                                    <option value="3">layim</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">药品类别：</label>
                            <div class="layui-input-inline">
                                <select name="modules" lay-verify="required" lay-search="">
                                    <option value="">全部</option>
                                    <option value="1">layer</option>
                                    <option value="2">form</option>
                                    <option value="3">layim</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">入库时间：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">药品批号：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">发票号或入库单号：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-inline">
                            <label class="layui-form-label">供货商：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div align="center">
                <button  type="button" class="layui-btn layui-btn-normal" >查询</button>
            </div>
        </form>
    </div>
    <table class="layui-table"  lay-size="sm" id="addMedicineTable" lay-filter="addMedicineTable">
        <button class="layui-btn layui-btn-sm" lay-submit lay-filter="addMedicine">添加</button>
    </table>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm"  lay-event="getCheckData">添加到退货单</button>
    </div>
</script>



<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
   <!-- <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

</body>
<script>

    layui.use(['form', 'layer', 'laydate','table'], function(){
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var table = layui.table;

        mainTable = table.render({
            elem: '#main',
            url:'/returnOrder/findAllReturnOrder',
            toolbar: 'default',
            id:'medicineTableMark',
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field:'returnOrderNo', title: '退货单编号',},
                {field:'returnOrderName', title: '退货单名称'},
                {field:'hospitalId',title: '医院编号',},
                {field:'contacts',title: '联系人'},
                {field:'contactNumber',title: '联系电话',},
                {field:'builder', title: '建单人',},
                {field:'orderCreationTime', title: '建单时间',},
                {field:'submissionTime',title: '提交时间'},
                {field:'remarks', title: '备注',},
                {field:'returnOrderStatu',  title: '退货单状态'},
                {fixed: 'right', width: 165, align:'center', toolbar: '#barDemo'}
            ]],
            page: true
        });

        returnOrderTable = table.render({
            elem: '#medicineTable',
            url:'/returnOrder/findDrugByReturnOrderId/?returnOrderId='+returnOrderId+'',
            id:'deleteMedicineTableMark',
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field:'purchaseOrderId', title: '采购单编号',width:'100'},
                {field:'nameOfPurchaseOrder', title: '采购单名称',width:'100'},
                {field:'serialUmber',title: '流水号',width:'80'},
                {field:'dosageForm',title: '通用名',width:'80'},
                {field:'tradeName', title: '商品名',width:'80'},
                {field:'bidPrice', title: '中标价',width:'80'},
                {field:'purchaseVolume',title: '采购量',width:'80'},
                {field:'purchaseAmount', title: '采购金额',width:'90'},
                {field:'storageVolume', title: '入库量',width:'90'},
                {field:'approvalNumber', title: '药品批号',width:'90'},
                {field:'validityPeriodOfApprovalNumber', title: '药品有效期',width:'100'},
                {field:'returnQuantity', edit: 'text', title: '退货量',width:'80'},
                {field:'returnMoney', title: '退货金额',width:'90'},
                {field:'returnReason', edit: 'text', title: '退货原因',width:'90'},
                {field:'dosageFormDrug', title: '剂型',width:'60'},
                {field:'specifications', title: '规格',width:'60'},
                {field:'company', title: '单位',width:'60'},
                {field:'qualityLevelDescription', title: '质量层次',width:'90'},
            ]],
            page: true
        });

        //退货单模糊查询
        form.on('submit(findByCondition)', function (data) {
            mainTable.reload({
                url:'/returnOrder/findAllReturnOrder',
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: {
                    returnOrderNo:data.field.returnOrderNo,
                    returnOrderName:data.field.returnOrderName,
                    hospitalId:data.field.hospitalId,
                    returnOrderStatus:data.field.returnOrderStatus,
                }
            })


        });


        laydate.render({
            elem: '#returnTime2',
        });

        //创建退货单
        $("#create").click(function(){
            var index = layer.open({
                type:1,
                scrollbar: false,
                title:['创建退货单','font-size:20px;text-align:center;'],
                area:['80%','90%'],
                content:$("#createReturnOrder"),
                success: function(){
                    /*打开之后查询出所在医院，对应赋值*/

                    laydate.render({
                        elem: '#returnTime',
                        value: new Date(),
                    });
                }
            })
        });

        //保存退货单
        form.on('submit(saveReturnOrder)', function (data) {
            var returnOrderData = JSON.stringify(data.field);
            var formData = new FormData;
            formData.append("returnOrder",returnOrderData);
            $.ajax({
                url:'/returnOrder/saveReturnOrder',
                type:'post',
                dataType:"json",
                data:formData,
                async: false,
                processData : false, // 使数据不做处理
                contentType : false, // 不要设置Content-Type请求头
                success:function (data) {
                    layer.closeAll();
                    layer.open({
                        scrollbar: false,
                        type:1,
                        title:['退货单详情','font-size:20px;text-align:center;'],
                        area:['100%','100%'],
                        content:$("#returnOrderDetail"),
                        success: function(){
                            data.returnOrderStatus = "未提交";
                            form.render();
                            form.val('returnOrderForm',{
                                returnOrderId:data.returnOrderId,
                                hospitalId:data.hospitalId,
                                returnOrderNo:data.returnOrderNo,
                                returnOrderName:data.returnOrderName,
                                contacts:data.contacts,
                                contactNumber:data.contactNumber,
                                builder:data.builder,
                                returnOrderStatus:data.returnOrderStatus,
                                orderCreationTime:data.orderCreationTime,
                                submissionTime:data.submissionTime,
                                remarks:data.remarks,
                            })
                            //保存之后退货单中没有药品   展示空表格
                            returnOrderTable.reload({
                                url:'/returnOrder/findDrugByReturnOrderId',
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                },
                                where: {
                                    returnOrderId:data.returnOrderId,
                                }
                            })
                        }
                    })
                }
            })
        });

        //删除退货单
        form.on('submit(deleteReturnOrder)', function (data) {
            var checkStatus = table.checkStatus("medicineTableMark");
            var data1 = checkStatus.data;
            var array = new Array();
            for (let index in data1) {
                array.push(data1[index].returnOrderId);
            }
            $.ajax({
                url:'/returnOrder/deleteReturnOrder',
                type:'post',
                dataType:"json",
                data: {
                    ids:array.toString(),
                },
                success:function (date) {
                    layer.msg("删除成功!");
                    table.reload("medicineTableMark");
                }
            })

        });


        //提交退货单
        form.on('submit(submitReturnOrder)', function (data) {
            var returnOrderId = $("#returnOrderId").val();
            $.ajax({
                url:'/returnOrder/submitReturnOrder',
                type:'post',
                dataType:"json",
                data: {
                    returnOrderId:returnOrderId,
                },
                success:function (date) {
                    layer.msg("提交成功!");

                }
            })
        });

        //跳转添加退货药品
        var addMedic = null;
        form.on('submit(add)', function (data) {
            var returnOrderId = $("#returnOrderId").val();
            addMedic = layer.open({
                type:1,
                title:['添加退货药品','font-size:20px;text-align:center;'],
                area:['100%','100%'],
                scrollbar: false,
                content:$("#addReturnMedicine"),
                success: function(){
                    form.render();
                    form.val('findAddMedicine',{
                        returnOrderId:returnOrderId,
                    });
                    table.render({
                        elem: '#addMedicineTable',
                        url:'/returnOrder/findDrug',
                        id:'addMedicineTables',
                        cols: [[
                            {type: 'checkbox', fixed: 'left'},
                            {field:'purchaseOrderNumber', title: '采购单编号',width:'100'},
                            {field:'nameOfPurchaseOrder', title: '采购单名称',width:'100'},
                            {field:'hospitalId', title: '采购医院',width:'100'},
                            {field:'serialUmber',title: '流水号',width:'80'},
                            {field:'dosageForm',title: '通用名',width:'80'},
                            {field:'tradeName', title: '商品名',width:'80'},
                            {field:'bidPrice', title: '中标价',width:'80'},
                            {field:'purchaseVolume',title: '采购量',width:'80'},
                            {field:'purchaseAmount', title: '采购金额',width:'90'},
                            {field:'storageVolume', title: '入库量',width:'90'},
                            {field:'approvalNumber', title: '药品批号',width:'90'},
                            {field:'validityPeriodOfApprovalNumber', title: '药品有效期',width:'100'},
                            {field:'dosageFormDrug', title: '剂型',width:'60'},
                            {field:'specifications', title: '规格',width:'60'},
                            {field:'company', title: '单位',width:'60'},
                            {field:'qualityLevelDescription', title: '质量层次',width:'90'},
                        ]],
                        page: true
                    });
                },
                cancel: function(){
                    /*layer.close(addMedic);*/
                    table.reload("deleteMedicineTableMark");
                },
            })
        });

        //添加药品
        form.on('submit(addMedicine)', function (data) {
            var checkStatus = table.checkStatus("addMedicineTables");
            var data1 = checkStatus.data;
            var returnOrderId = $("#returnOrderId").val();
            var array = new Array();
            for (let index in data1) {
                data1[index].returnOrderId = returnOrderId;
                data1[index].purchaseOrderId = data1[index].purchaseId;
                array.push(data1[index]);
            }


            $.ajax({
                url:'/returnOrder/addDrugToReturnOrder',
                type:'post',
                dataType:"json",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(array),
                success:function (date) {
                    layer.msg("添加成功!");
                }
            })


        });

        //删除退货单药品
        form.on('submit(delete)', function (data) {
            var checkStatus = table.checkStatus("deleteMedicineTableMark");
            var data1 = checkStatus.data;
            var array = new Array();
            for (let index in data1) {
                array.push(data1[index].id);
            }
            $.ajax({
                url:'/returnOrder/deleteReturnMedicine',
                type:'post',
                dataType:"json",
                data:{
                    ids:array.toString(),
                },
                success:function (date) {
                    table.reload("deleteMedicineTableMark");
                    layer.msg("删除成功!");
                }
            })

        });

        //保存退货量
        form.on('submit(save)', function (data) {
            var checkStatus = table.checkStatus("deleteMedicineTableMark");
            var data1 = checkStatus.data;
            var array1 = new Array();
            for (let index in data1) {
                var s = data1[index];
                array1.push(s);
            }
            $.ajax({
                url:'/returnOrder/saveReturnCount',
                type:'post',
                dataType:"json",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(array1),
                success:function (date) {
                    table.reload("deleteMedicineTableMark");
                    layer.msg("保存成功!");
                }
            })

        });

        //查询退货单中的药品
        form.on('submit(findReturnOrder)', function (data) {
            var returnOrderId = $("#returnOrderId").val();
            $.ajax({
                url:'/returnOrder/findDrugByReturnOrderId/',
                type:'post',
                dataType:"json",
                data:'',
                async: false,
                processData : false, // 使数据不做处理
                contentType : false, // 不要设置Content-Type请求头
                success:function (data) {
                    table.render({
                        elem: '#addMedicineTable',
                        id:'addMedicineTableMark',
                        data:data,
                        cols: [[
                            {type: 'checkbox', fixed: 'left'},
                            {field:'id', title: '采购单编号',},
                            {field:'approvalNumber', title: '采购单名称'},
                            {field:'commonNamePinyin',title: '采购医院',},
                            {field:'serialUmber',title: '流水号'},
                            {field:'dosageForm',title: '通用名',},
                            {field:'tradeName', title: '商品名',},
                            {field:'bidPrice', title: '中标价',},
                            {fixed: 'right', width: 165, align:'center', toolbar: '#barDemo'}
                        ]],
                        page: true
                    });


                    layer.close(addMedic);
                    layer.msg("添加成功!");
                }
            })

        });



        //监听行工具事件
        table.on('tool(main)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            var returnOrderId = parseInt(data.returnOrderId);
            if(layEvent === 'del'){
                layer.confirm('真的删除行么', function(index){
                    var array = new Array();
                    array.push(data.returnOrderId);
                    $.ajax({
                        url:'/returnOrder/deleteReturnOrder',
                        type:'post',
                        dataType:"json",
                        data: {
                            ids:array.toString(),
                        },
                        success:function (date) {
                            layer.msg("删除成功!");
                            table.reload("medicineTableMark");
                        }
                    })
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                });
            }else if(layEvent === 'detail'){
               layer.open({
                    type:1,
                    title:['退货单药品列表','font-size:20px;text-align:center;'],
                    area:['100%','100%'],
                    scrollbar: false,
                    content:$('#returnOrderDetail'),
                    success: function () {
                        if(data.returnOrderStatus == "1"){
                            data.returnOrderStatus = "未提交";
                        }else{
                            data.returnOrderStatus = "已提交";
                        }
                        form.render();
                        form.val('returnOrderForm',{
                            returnOrderId:data.returnOrderId,
                            returnOrderNo:data.returnOrderNo,
                            returnOrderName:data.returnOrderName,
                            contacts:data.contacts,
                            contactNumber:data.contactNumber,
                            builder:data.builder,
                            hospitalId:data.hospitalId,
                            returnOrderStatus:data.returnOrderStatus,
                            orderCreationTime:data.orderCreationTime,
                            submissionTime:data.submissionTime,
                            remarks:data.remarks,
                        });
                        returnOrderTable.reload({
                            url:'/returnOrder/findDrugByReturnOrderId',
                            page: {
                                curr: 1 //重新从第 1 页开始
                            },
                            where: {
                                returnOrderId:returnOrderId,
                            }
                        })
                    },
                   cancel: function(){
                       table.reload("medicineTableMark");
                   },
                });
            }
        });


    });
</script>
</html>