<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>结算单处理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <script src="../layui/layui.js" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->

    <script type="text/javascript">
        function selectiAll(){
            layui.use('table', function(){
                var table = layui.table
                    ,form = layui.form;
                table.render({
                    elem: '#test'
                    ,url:'aa'
                    ,cellMinWidth: 80
                    ,cols: [[
                        {type:'numbers' ,title:"序号"}
                        ,{type: 'checkbox' ,field:'id'}
                        ,{field:'statementNo', title:'结算单编号',width: 70}
                        ,{field:'statementName', title:'结算单名称', width:80}
                        ,{field:'city', title:'下单医院' ,width: 70}
                        ,{field:'wealth', title: '开始采购时间',width: 70 }
                        ,{field:'sex', title:'结束采购时间',width: 70}
                        ,{field:'lock', title:'对应采购单编号',width: 70}
                        ,{field:'lock', title:'对应采购单名称',width: 70}
                        ,{field:'lock', title:'流水号',width: 70}
                        ,{field:'lock', title:'通用名',width: 70}
                        ,{field:'lock', title:'商品名',width: 70}
                        ,{field:'lock', title:'剂型',width: 45}
                        ,{field:'lock', title:'规格',width: 45}
                        ,{field:'lock', title:'单位',width: 45}
                        ,{field:'lock', title:'转换系数',width: 70}
                        ,{field:'lock', title:'质量层次',width: 70}
                        ,{field:'lock', title:'生产企业',width: 70}
                        ,{field:'lock', title:'中标价',width: 70}
                        ,{field:'lock', title:'交易价',width: 70}
                        ,{field:'lock', title:'采购量',width: 70}
                        ,{field:'lock', title:'采购金额',width: 70}

                    ]]
                    ,page: true
                });
                //监听性别操作
                form.on('switch(sexDemo)', function(obj){
                    layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
                });
                //监听锁定操作
                form.on('checkbox(lockDemo)', function(obj){
                    layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
                });
            });
        }
    </script>
</head>
<body bgcolor="aqua">
<div >
    <div align="center">
        <table border="1"  bgcolor="#faebd7">
            <tr>
                <div class="layui-form-item">
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">结算单编号</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">结算单名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                </div>
            </tr>
            <tr>
                <div class="layui-form-item">
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">结算状态</label>
                            <select name="modules" lay-verify="required" style="width:200px"  lay-search="">
                                <option value="0">全部</option>
                                <option value="1">山西医药</option>
                            </select>
                        </div>
                    </th>
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">结算时间</label>
                            <div class="layui-input-inline"  style="width: 80px;float:left;" >
                                <input type="text" name="price_min"   autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid" align='left'>至</div>
                            <div class="layui-input-inline" style="width: 80px;">
                                <input type="text" name="price_max"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                </div>
            </tr>
            <tr>
                <div class="layui-form-item">
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">下单医院</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">采购时间</label>
                            <div class="layui-input-inline" style="width: 80px;float:left;">
                                <input type="text" name="price_min"   autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">至</div>
                            <div class="layui-input-inline" style="width: 80px;">
                                <input type="text" name="price_max"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                </div>

            </tr>
            <tr>
                <div class="layui-form-item">
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">对应采购单编号</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">对应采购单名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                </div>
            </tr>
            <tr>
                <div class="layui-form-item">
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">药品流水号</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">通用名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                </div>
            </tr>
            <tr>
                <div class="layui-form-item">
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">剂型</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">规格</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                </div>
            </tr>
            <tr>
                <div class="layui-form-item">
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">单位</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">转换系数</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                </div>
            </tr>
            <tr>
                <div class="layui-form-item">
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">生产企业</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">商品名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                </div>
            </tr>
            <tr>
                <div class="layui-form-item">
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">质量层次</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">药品类别</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                </div>
            </tr>
            <tr>
                <div class="layui-form-item">
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">发票号或入库单号</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">供货商</label>
                            <div class="layui-input-block">
                                <select name="modules" lay-verify="required" style="width:200px"  lay-search="">
                                    <option value="0">全部</option>
                                    <option value="1">山西医药</option>

                                </select>
                            </div>
                        </div>
                    </th>
                </div>
            </tr>
        </table>
    </div>
    <div class="layui-form-item" align="center">
        <div class="layui-inline">
            <div class="layui-input-inline">

                <button class="layui-btn layui-btn-normal" onclick="selectiAll()" >查询</button>

                <button class="layui-btn layui-btn-normal" onclick="">导出</button>

            </div>
        </div>
    </div>
</div>

<div>
    <table class="layui-hide" id="test">
        <button type="button" class="layui-btn layui-btn-normal">确认结算</button>
    </table>
</div>


</body>
</html>