<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>结算单</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <script src="../layui/layui.js" charset="utf-8"></script>
    <script src="../layui/jquery-3.4.1.min.js"></script>
    <script>
        layui.use(['form', 'layedit', 'laydate'], function(){
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate;

            laydate.render({
                elem: '#returnTime2',
            });
            $("#create").click(function(){
                layer.open({
                    type:1,
                    title:'结算单',
                    area:['80%','80%'],
                    content:$("#settlementDocument").html(),
                    success: function(){
                        laydate.render({
                            elem: '#returnTime1',
                            trigger: 'click'
                        });
                    }
                })
            });



            //创建一个编辑器
            var editIndex = layedit.build('LAY_demo_editor');
         /*   //自定义验证规则
            form.verify({
                title: function(value){
                    if(value.length < 5){
                        return '标题至少得5个字符啊';
                    }
                }
                ,pass: [
                    /^[\S]{6,12}$/
                    ,'密码必须6到12位，且不能出现空格'
                ]
                ,content: function(value){
                    layedit.sync(editIndex);
                }
            });*/
            //监听指定开关
            form.on('switch(switchTest)', function(data){
                layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                    offset: '6px'
                });
                layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
            });
            //监听提交
            form.on('submit(demo1)', function(data){
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                })
                return false;
            });
            /*//表单赋值
            layui.$('#LAY-component-form-setval').on('click', function(){
                form.val('example', {
                    "username": "贤心" // "name": "value"
                    ,"password": "123456"
                    ,"interest": 1
                    ,"like[write]": true //复选框选中状态
                    ,"close": true //开关状态
                    ,"sex": "女"
                    ,"desc": "我爱 layui"
                });
            });*/
            /*//表单取值
            layui.$('#LAY-component-form-getval').on('click', function(){
                var data = form.val('example');
                alert(JSON.stringify(data));
            });*/
        });

        layui.use('table', function(){
            var table = layui.table;
            table.render({
                elem: '#main',
                url:'/demo/table/user/',
                cols: [[
                     {type:'numbers' ,title:"序号",width: 10}
                    ,{type: 'checkbox' ,field:'id',width: 20}
                    ,{field:'id', title:'采购单编号',width: 10}
                    ,{field:'username', title:'采购单名称', width:80}
                    ,{field:'city', title:'采购医院' ,width: 45}
                    ,{field:'wealth', title: '流水号',width: 45 }
                    ,{field:'sex', title:'通用名',width: 45}
                    ,{field:'lock', title:'商品名',width: 45}
                    ,{field:'lock', title:'中标价',width: 45}
                    ,{field:'lock', title:'采购量',width: 45}
                    ,{field:'lock', title:'采购金额',width: 45}
                    ,{field:'lock', title:'入库量',width: 45}
                    ,{field:'lock', title:'实际交易金额',width: 60}
                    ,{field:'lock', title:'发票号或入库单号',width: 45}
                    ,{field:'lock', title:'药品批号',width: 45}
                    ,{field:'lock', title:'药品有效期',width: 45}
                    ,{field:'lock', title:'退货量',width: 45}
                    ,{field:'lock', title:'退货金额',width: 45}
                    ,{field:'lock', title:'剂型',width: 30}
                    ,{field:'lock', title:'规格',width: 30}
                    ,{field:'lock', title:'单位',width: 30}
                    ,{field:'lock', title:'转换系数',width: 45}
                    ,{field:'lock', title:'质量层次',width: 45}
                    ,{field:'lock', title:'生产企业',width: 50}
                    ,{field:'lock', title:'供货企业',width: 45}
                    ,{field:'lock', title:'开始采购时间',width: 45}
                    ,{field:'lock', title:'结束采购时间',width: 45}
                    ,{field:'lock', title:'采购状态',width: 45}
                    ,{field:'lock', title:'详细',width: 45}
                ]],
                page: true
            });
        });


    </script>
</head>
<body >
<div class="layui-container">
    <div align="center">
        <form class="layui-form" action="">
            <table border="1" >
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>结算单</legend>
                </fieldset>
                <tbody>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">医院编号:</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">医院名称:</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">结算单编号:</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">结算单名称:</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">结算时间:</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">建单时间:</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>

                    </tr>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">联系人:</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">联系电话:</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">结算状态:</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">提交时间:</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <div class="layui-inline">
                                <label class="layui-form-label">备注:</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="layui-form-item" align="center">
                <button  type="button" class="layui-btn layui-btn-sm layui-btn-normal" >保存结算单</button>
                <button  type="button" class="layui-btn layui-btn-sm layui-btn-normal" >提交结算单</button>
                <button  type="button" class="layui-btn layui-btn-sm layui-btn-normal" id="create">创建结算单</button>
            </div>
        </form>

        <form class="layui-form" action="">
            <table class="layui-table" lay-size="sm">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>结算药品查询</legend>
                </fieldset>
                <tbody>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">采购单编号</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">采购单名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">采购状态</label>
                                <div class="layui-input-block">
                                    <select name="modules" lay-verify="required" style="width:200px"  lay-search="">
                                        <option value="0">全部</option>
                                        <option value="1">山西医药</option>
                                    </select>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">采购医院</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">开始采购时间</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">结束采购时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">药品流水号</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">通用名</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">剂型</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">规格</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">单位</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">转换系数</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">生产企业</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">商品名</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">质量层次</label>
                                <div class="layui-input-block">
                                    <select name="modules" lay-verify="required" style="width:200px"  lay-search="">
                                        <option value="0">全部</option>
                                        <option value="1">山西医药</option>
                                    </select>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">药品类别</label>
                                <div class="layui-input-block">
                                    <select name="modules" lay-verify="required" style="width:200px"  lay-search="">
                                        <option value="0">全部</option>
                                        <option value="1">山西医药</option>
                                    </select>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">入库时间</label>
                                <div class="layui-input-inline" style="width: 80px;float:left;">
                                    <input type="text" name="price_min"   autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid">至</div>
                                <div class="layui-input-inline" style="width: 80px;">
                                    <input type="text" name="price_max"  autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">药品批号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="layui-form-item">
                                <label class="layui-form-label">发票号或入库单号</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">供货商</label>
                                <div class="layui-input-block">
                                    <select name="modules" lay-verify="required" style="width:200px"  lay-search="">
                                        <option value="0">全部</option>
                                        <option value="1">山西医药</option>
                                    </select>
                                </div>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div align="center">
                        <button class="layui-btn layui-btn-normal"  >查询</button>
                        <button class="layui-btn layui-btn-normal"  >导出</button>
            </div>
        </form>
    </div>
</div>
<!--创建结算单-->
<div class="layui-container" id="settlementDocument" style="display: none">
    <div class="layui-row">
        <form class="layui-form" action="">
            <table class="layui-table" lay-size="sm">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>结算单</legend>
                </fieldset>
                <tbody>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">医院编号</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">医院名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">结算单编号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">结算单名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">结算时间</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">建单时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">联系人</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">联系电话</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">结算状态</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="layui-inline">
                                <label class="layui-form-label">提交时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <div class="layui-inline">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div align="center">
                <button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-setval">保存结算单</button>
            </div>
        </form>
    </div>
</div>

<div class="layui-row">
    <form class="layui-form" action="">
        <table class="layui-hide" lay-size="sm" id="main">
            <button type="button" class="layui-btn layui-btn-sm" id="add">添加</button>
            <button type="button" class="layui-btn layui-btn-sm">删除</button>
        </table>
    </form>
</div>

</body>
</html>