<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>结算单</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <script src="../layui/layui.js" charset="utf-8"></script>
</head>
<body bgcolor="#fff8dc">
<div>
    <div align="center">
        <table border="1" bgcolor="#faebd7">
            <tr>
                <div class="layui-form-item">
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">医院编号:</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">医院名称:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                </div>
            </tr>
            <tr>
                <div class="layui-form-item">
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">结算单编号:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">结算单名称:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                </div>
            </tr>
            <tr>
                <div class="layui-form-item">
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">结算时间:</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">建单时间:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                </div>

            </tr>
            <tr>
                <div class="layui-form-item">
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">联系人:</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">联系电话:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                </div>
            </tr>
            <tr>
                <div class="layui-form-item">
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">结算状态:</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="layui-inline">
                            <label class="layui-form-label">提交时间:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </th>
                </div>
            </tr>
            <tr>
                <th colspan="2">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">备注:</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </table>
    </div>
    <div class="layui-form-item" align="center">
        <div class="layui-inline">
            <div class="layui-input-inline">

                <button  class="layui-btn layui-btn-sm layui-btn-normal" onclick="">保存结算单</button>

                <button  class="layui-btn layui-btn-sm layui-btn-normal" onclick="">提交结算单</button>

            </div>
        </div>
    </div>

</div>

</body>
</html>